<footer class="footer bg-dark text-white">
    <div class="container main-content">
        <div class="row">
            <div class="col-md-3">
                <h5 class="footer-title">Lifestyle & Fashion</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="footer-link"><span class="social-icon">
                                <i aria-hidden="true" class="fas fa-angle-right"></i></span><span
                                class="list-name">Garments</span></a></li>
                    <li><a href="#" class="footer-link"> <span class="social-icon">
                                <i aria-hidden="true" class="fas fa-angle-right"></i> </span><span
                                class="list-name">Footwear</span></a></li>
                    <li><a href="#" class="footer-link"> <span class="social-icon">
                                <i aria-hidden="true" class="fas fa-angle-right"></i> </span><span
                                class="list-name">Sportswear</span></a></li>
                    <li><a href="#" class="footer-link"> <span class="social-icon">
                                <i aria-hidden="true" class="fas fa-angle-right"></i> </span><span
                                class="list-name">Boutique</span></a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="footer-title">Supermarket & Groceries</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="footer-link"><span class="social-icon">
                                <i aria-hidden="true" class="fas fa-angle-right"></i> </span><span
                                class="list-name">Supermarket</span></a></li>
                    <li><a href="#" class="footer-link"><span class="social-icon">
                                <i aria-hidden="true" class="fas fa-angle-right"></i> </span><span
                                class="list-name">Fruits & Vegetables</span></a></li>
                    <li><a href="#" class="footer-link"><span class="social-icon">
                                <i aria-hidden="true" class="fas fa-angle-right"></i> </span><span
                                class="list-name">Convenience Stores</span></a></li>
                    <li><a href="#" class="footer-link"><span class="social-icon">
                                <i aria-hidden="true" class="fas fa-angle-right"></i> </span><span
                                class="list-name">Gourmet Stores</span></a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h5 class="footer-title">Niche Retail</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="footer-link"><span class="social-icon">
                                <i aria-hidden="true" class="fas fa-angle-right"></i> </span><span
                                class="list-name">Gift Articles Shop</span></a></li>
                    <li><a href="#" class="footer-link"><span class="social-icon">
                                <i aria-hidden="true" class="fas fa-angle-right"></i> </span><span
                                class="list-name">Stationery Store</span></a></li>
                    <li><a href="#" class="footer-link"><span class="social-icon">
                                <i aria-hidden="true" class="fas fa-angle-right"></i> </span><span
                                class="list-name">Roastery Store</span></a></li>
                    <li><a href="#" class="footer-link"><span class="social-icon">
                                <i aria-hidden="true" class="fas fa-angle-right"></i> </span><span
                                class="list-name">Meat Shop</span></a></li>
                </ul>
            </div>

            <!-- Contact Information Section -->
            <div class="col-md-3">
                <h5 class="footer-title">Get In Touch</h5>
                <p class="footer-text">
                    <span class="social-icon"><i class="fa-solid fa-location-dot"></i> </span><span
                        class="list-name">Visit Us</span><br>
                </p>
                <p class="footer-text">
                    <span class="social-icon"><i class="fa-solid fa-phone"></i></span><span class="list-name">+91 7600
                        60 30 11</span><br>
                </p>
                <p class="footer-text">
                    <span class="social-icon"><i class="fa-solid fa-envelope"></i></span><span
                        class="list-name">info@re-pos.in</span><br>
                </p>
                <p class="footer-text">
                    <span class="social-icon"><i class="fa-solid fa-star"></i></span><span class="list-name">Google
                        Review</span><br>
                </p>
                <div class="social-icons">
                    <a href="#" class="media-icon facebook" aria-label="Facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="media-icon linkedin" aria-label="LinkedIn">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="#" class="media-icon linkedin" aria-label="instgram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="#" class="media-icon linkedin" aria-label="whatsapp">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="location-name">
        <nav class="nav-menu-list">
            <ul class="hfe-nav-menu">
                <li class="menu-item">
                    <a class="href-menu-item" href="#">India</a>
                </li>
                <li class="menu-item">
                    <a class="href-menu-item" href="#">Ahmedabad</a>
                </li>
                <li class="menu-item">
                    <a class="href-menu-item" href="#">Goa</a>
                </li>
                <li class="menu-item">
                    <a class="href-menu-item" href="#">Hyderabad</a>
                </li>
                <li class="menu-item">
                    <a class="href-menu-item" href="#">Mumbai</a>
                </li>
                <li class="menu-item">
                    <a class="href-menu-item" href="#">Pune</a>
                </li>
                <li class="menu-item">
                    <a class="href-menu-item" href="#">Surat</a>
                </li>
                <li class="menu-item">
                    <a class="href-menu-item" href="#">Vadodara</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="location-name">
        <nav class="nav-menu-list">
            <ul class="hfe-nav-menu-2">
                <li class="menu-item">
                    <a class="href-menu-item" href="#">Saudi Arabia</a>
                </li>
                <li class="menu-item">
                    <a class="href-menu-item" href="#">Jeddah</a>
                </li>
                <li class="menu-item">
                    <a class="href-menu-item" href="#">Mauritius</a>
                </li>
                <li class="menu-item">
                    <a class="href-menu-item" href="#">Kenya</a>
                </li>
                <li class="menu-item">
                    <a class="href-menu-item" href="#">Nairobi</a>
                </li>
                <li class="menu-item">
                    <a class="href-menu-item" href="#">Ghana</a>
                </li>
                <li class="menu-item">
                    <a class="href-menu-item" href="#">Accra</a>
                </li>
                <li class="menu-item">
                    <a class="href-menu-item" href="#">Tanzania</a>
                </li>
                <li class="menu-item">
                    <a class="href-menu-item" href="#">Uganda</a>
                </li>
                <li class="menu-item">
                    <a class="href-menu-item" href="#">Mauritius</a>
                </li>
                <li class="menu-item">
                    <a class="href-menu-item" href="#">Rwanda</a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Copyright Section -->
    <div class="container">
        <div class="row mt-4">
            <div class="col text-center">
                <p class="footer-copyright">
                    © 2024 All Rights Reserved by <a style="color: #ffffff; text-decoration: underline;" href="#"
                        target="_black">Resolute Solutions</a><a style="color: #ffffff;">.</a>
                </p>
            </div>
        </div>
    </div>
</footer>