<!-- First Section -->
<section class="first-section d-flex align-items-center justify-content-center">
    <div class="container text-center">
        <div class="content-lef">
            <h1 class="display-4">Transform your Retail
                Business with our
                advanced POS <span class="custom-bottom-border">Software</span></h1>
            <p class="lead">Unlock the potential of seamless transactions, effortless petty
                cash management, optimized inventory control, and elevated
                customer experiences with our empowering retail POS software.</p>
            <a class="btn btn-primary book-demo-btn" href="#">Book a Demo <i class="fa-solid fa-chevron-right"></i></a>
        </div>
    </div>
</section>

<!-- second Section -->
<section class="section-retail-bussiness">
    <div class="container">
        <div class="heading-title">
            <h1>Which Retail Businesses leverage the power of <span class="custom-bottom-border">RePOS?</span></h1>
        </div>
        <div class="list-product-retail">
            <div class="row">
                <!-- Business 1: Lifestyle & Fashion -->
                <div class="col-md-4">
                    <div class="business-box">
                        <div class="d-none d-md-block">
                            <img class="business-img" src="../../assets/images/dress-svg.svg" alt="img">
                            <h4 class="business-title mt-3">Lifestyle & Fashion</h4>
                        </div>
                        <div class="d-md-none d-sm-block d-flex">
                            <img class="business-img w-17" src="../../assets/images/dress-svg.svg" alt="img">
                            <h4 class="business-title h4 mt-3">Lifestyle & Fashion</h4>
                        </div>
                        <div class="business-detail">
                            <img src="../../assets/images/coat.svg" alt="Garments" class="business-img">
                            <h4 class="business-title mt-3">Garments</h4>
                        </div>
                        <div class="business-detail">
                            <img src="../../assets/images/footwear.svg" alt="Garments" class="business-img">
                            <h4 class="business-title mt-3">Footwear</h4>
                        </div>
                        <div class="business-detail">
                            <img src="../../assets/images/sportswear.svg" alt="Garments" class="business-img">
                            <h4 class="business-title mt-3">Sportswear</h4>
                        </div>
                        <div class="business-detail">
                            <img src="../../assets/images/Garments.svg" alt="Garments" class="business-img">
                            <h4 class="business-title mt-3">Boutique</h4>
                        </div>
                    </div>
                </div>

                <!-- Business 2: Supermarket & Groceries -->
                <div class="col-md-4">
                    <div class="business-box">
                        <div class="d-none d-md-block">
                            <img class="business-img" src="../../assets/images/cart-svg.svg" alt="img">
                            <h4 class="business-title mt-3">Supermarket & Groceries</h4>
                        </div>
                        <div class="d-md-none d-sm-block d-flex">
                            <img class="business-img w-17" src="../../assets/images/cart-svg.svg" alt="img">
                            <h4 class="business-title h4 mt-3">Supermarket & Groceries</h4>
                        </div>
                        <div class="business-detail">
                            <img src="../../assets/images/retail.svg" alt="Supermarket" class="business-img">
                            <h4 class="business-title mt-3">Supermarket</h4>
                        </div>
                        <div class="business-detail">
                            <img src="../../assets/images/fruit.svg" alt="Fruits & Vegetables" class="business-img">
                            <h4 class="business-title mt-3">Fruits & Vegetables</h4>
                        </div>
                        <div class="business-detail">
                            <img src="../../assets/images/Convenience-stores.svg" alt="Garments" class="business-img">
                            <h4 class="business-title mt-3">Convenience Stores</h4>
                        </div>
                        <div class="business-detail">
                            <img src="../../assets/images/basket.svg" alt="Garments" class="business-img">
                            <h4 class="business-title mt-3">Gourmet Stores</h4>
                        </div>
                    </div>
                </div>

                <!-- Business 3: Niche Retail -->
                <div class="col-md-4 mb-4">
                    <div class="business-box">
                        <div class="d-md-block d-none">
                            <img class="business-img" src="../../assets/images/bag-svg.svg" alt="img">
                            <h4 class="business-title mt-3">Niche Retail</h4>
                        </div>
                        <div class="d-md-none d-sm-block d-flex">
                            <img class="business-img w-17" src="../../assets/images/bag-svg.svg" alt="img">
                            <h4 class="business-title h4 mt-3">Niche Retail</h4>
                        </div>
                        <div class="business-detail">
                            <img src="../../assets/images/gift-box-with-a-bow.svg" alt="Gift Articles Shop"
                                class="business-img">
                            <h4 class="business-title mt-3">Gift Articles Shop</h4>
                        </div>
                        <div class="business-detail">
                            <img src="../../assets/images/stationery1.svg" alt="Stationery Store" class="business-img">
                            <h4 class="business-title mt-3">Stationery Store</h4>
                        </div>
                        <div class="business-detail">
                            <img src="../../assets/images/almond.svg" alt="Roastery Store" class="business-img">
                            <h4 class="business-title mt-3">Roastery Store</h4>
                        </div>
                        <div class="business-detail">
                            <img src="../../assets/images/beef.svg" alt="Meat Shop" class="business-img">
                            <h4 class="business-title mt-3">Meat Shop</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section3-repos -->
<section class="repos-section-three">
    <div class="container">
        <div class="heading-title">
            <h1>What is <span class="custom-bottom-border">RePOS?</span></h1>
        </div>
        <div class="row">
            <div class="col-md-6 order-md-1 order-2">
                <p class="description-p">
                    RePOS, the cutting-edge retail POS software built to take your business to new heights, allows you
                    to experience retail excellence like never before. Say goodbye to manual processes and welcome
                    improved operations, efficiency, and profitability.
                </p>
                <p class="description-p">
                    With RePOS, you can easily manage your sales transactions, maintain inventory, and obtain vital
                    insights into the performance of your business in real time. Our simple design and intuitive
                    features make it simple for you and your staff to execute transactions, handle petty cash, and
                    provide excellent customer service.
                </p>
                <p class="description-p">
                    RePOS serves businesses of various sizes and types, from small shops to large-scale retail networks.
                    Our software adjusts to your individual demands, offering a seamless and customised experience
                    whether you manage a clothing store, a grocery store, or a speciality boutique. So, Join the growing
                    community of successful businesses who have harnessed the power of our innovative software and taken
                    their business to new heights!
                </p>
                <a class="btn btn-primary book-demo-btn btn-color" href="#">Book a Demo <i
                        class="fa-solid fa-chevron-right"></i></a>
            </div>
            <div class="col-md-6 order-md-2 order-sm-1">
                <div class="img-repos">
                    <img class="w-100" src="../../assets/images/home-img2.png" alt="home-img-repos">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-awesome d-none d-md-block">
    <div class="container">
        <div class="heading-title">
            <h1 class="text-center">Explore our awesome Feature <span class="custom-bottom-border">Set</span></h1>
        </div>
        <div class="row justify-content-between">
            <div class="col-3">
                <div class="row">
                    <div class="col-12">
                        <div class="box-1">
                            <h4 class="title-h4">Retail POS Software</h4>
                            <p class="pg-awesome">Introducing a combination of unparalleled characteristics for managing
                                your restaurant</p>
                            <a class="know-more-btn" href="#">Know more <i class="fa-solid fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="box-1">
                            <h4 class="title-h4">Integrated Accounting</h4>
                            <p class="pg-awesome">Helps you efficiently manage stock, unused items, reduce wastage and
                                record new stock</p>
                            <a class="know-more-btn" href="#">Know more <i class="fa-solid fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="box-1">
                            <h4 class="title-h4">Uninterrupted Retail Billing Software</h4>
                            <p class="pg-awesome">Enables you to drive result oriented sales and marketing campaigns for
                                your restaurant</p>
                            <a class="know-more-btn" href="#">Know more <i class="fa-solid fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="main-section-img">
                    <div class="round-img">
                        <img src="../../assets/images/INFOGRAPHIC.png" alt="" class="w-100">
                    </div>
                    <div class="around-img">
                        <div class="icon-img one">
                            <img src="../../assets/images/Group-75.png" alt="" class="w-100">
                        </div>
                        <div class="icon-img two">
                            <img src="../../assets/images/Group-74-1.png" alt="" class="w-100">
                        </div>
                        <div class="icon-img three">
                            <img src="../../assets/images/Group-76.png" alt="" class="w-100">
                        </div>
                        <div class="icon-img four">
                            <img src="../../assets/images/Group-77.png" alt="" class="w-100">
                        </div>
                        <div class="icon-img five">
                            <img src="../../assets/images/Group-78.png" alt="" class="w-100">
                        </div>
                        <div class="icon-img six">
                            <img src="../../assets/images/Group-79.png" alt="" class="w-100">
                        </div>
                        <div class="icon-img center">
                            <img src="../../assets/images/repos-logo-img.png" alt="" class="w-100">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-12">
                        <div class="box-2">
                            <h4 class="title-h4">Retail POS Software</h4>
                            <p class="pg-awesome">Introducing a combination of unparalleled characteristics for managing
                                your restaurant</p>
                            <a class="know-more-btn" href="#">Know more <i class="fa-solid fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="box-2">
                            <h4 class="title-h4">Integrated Accounting</h4>
                            <p class="pg-awesome">Helps you efficiently manage stock, unused items, reduce wastage and
                                record new stock</p>
                            <a class="know-more-btn" href="#">Know more <i class="fa-solid fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="box-2">
                            <h4 class="title-h4">Uninterrupted Retail Billing Software</h4>
                            <p class="pg-awesome">Enables you to drive result oriented sales and marketing campaigns for
                                your restaurant</p>
                            <a class="know-more-btn" href="#">Know more <i class="fa-solid fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div class="card">
    <div class="card-body">
        <div class="feature-innerbody">
            <div class="feature-icon">
                <img src="../../assets/images/Group-75.png" alt="Feature Icon">
            </div>
            <h4>Retail POS Software</h4>
        </div>
        <p>Introducing a combination of unparalleled characteristics for managing your restaurant.</p>
            <a class="knowmore"href="#">Know more &gt;</a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="feature-innerbody">
            <div class="feature-icon">
                <img src="../../assets/images/Group-76.png" alt="Feature Icon">
            </div>
            <h4>Integrated Accounting</h4>
        </div>
        <p>Helps you efficiently manage stock, unused items, reduce wastage and
            record new stock</p>
            <a class="knowmore"href="#">Know more &gt;</a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="feature-innerbody">
            <div class="feature-icon">
                <img src="../../assets/images/Group-77.png" alt="Feature Icon">
            </div>
            <h4>Uninterrupted Retail Billing Software</h4>
        </div>
        <p>Enables you to drive result oriented sales and marketing campaigns for
            your restaurant</p>
            <a class="knowmore"href="#">Know more &gt;</a>
    </div>
</div> -->


<section class="section-specilists">
    <div class="container text-center">
        <div class="bg-img-specialist">
            <h2 class="cta-title">Ready to revolutionize your Retail Business?
            </h2>
            <h2 class="cta-title">Get started with RePOS <span class="custom-bottom-border">today!</span></h2>
            <a class="btn btn-primary book-demo-btn" href="#">Speak to our Specialists <i
                    class="fa-solid fa-chevron-right"></i></a>
        </div>
    </div>
</section>

<section class="products-section">
    <div class="container">
        <div class="heading-title">
            <h1 class="text-center">Our <span class="custom-bottom-border">Products</span></h1>
        </div>
        <div class="row">
            <div class="col-md-4 order-md-1 order-3">
                <div class="product-item">
                    <div class="item" [class.active]="activeItem === 1" (click)="setActiveItem(1)">
                        <h4>RePOS</h4>
                        <p>Retail POS Solution</p>
                    </div>
                    <div class="item" [class.active]="activeItem === 2" (click)="setActiveItem(2)">
                        <h4>Android RePOS</h4>
                        <p>Retail Android POS Solution</p>
                    </div>
                    <div class="item" [class.active]="activeItem === 3" (click)="setActiveItem(3)">
                        <h4>ReAnalyse</h4>
                        <p>Mobile Reporting App</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center order-md-2 order-sm-1">
                <img [src]="productImage" alt="Product Image" class="w-100 product-image">
            </div>
            <div class="col-md-4 d-flex align-items-center order-md-3 order-sm-2">
                <div class="logo-section text-left">
                    <img [src]="logoImage" alt="Logo Image" class="w-70 logo-img">
                    <p class="product-p">{{ description }}</p>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="book-demo-form">
    <div class="container">
        <div class="heading-title">
            <h1 class="text-center">Book a <span class="custom-bottom-border">Demo</span></h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="demo-img">
                    <img src="../../assets/images/start-demo-img.png" alt="form-img" class="w-100">
                </div>
            </div>
            <div class="col-md-6">
                <form class="form-book">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="fullName">Full Name*</label>
                            <input type="text" id="fullName" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Email*</label>
                            <input type="email" id="email" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="country">Country*</label>
                            <div class="custom-dropdown" [class.open]="isDropdownOpen">
                                <select id="country" class="form-control" (focus)="toggleDropdown(true)"
                                    (blur)="toggleDropdown(false)">
                                    <option value="India" data-icon="🇮🇳">India (भारत)</option>
                                    <option value="USA" data-icon="🇺🇸">United States (USA)</option>
                                    <option value="UK" data-icon="🇬🇧">United Kingdom (UK)</option>
                                    <option value="Canada" data-icon="🇨🇦">Canada</option>
                                    <option value="Australia" data-icon="🇦🇺">Australia</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="contactNo">Contact No*</label>
                            <input type="tel" id="contactNo" class="form-control" placeholder="+91">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="state">State*</label>
                            <input type="text" id="state" class="form-control" value="Gujarat">
                        </div>
                        <div class="col-md-6">
                            <label for="city">City*</label>
                            <input type="text" id="city" class="form-control" value="Ahmedabad">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="brandName">Brand Name*</label>
                            <input type="text" id="brandName" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for="retailFormat">Retail Business Format*</label>
                            <div class="custom-dropdown">
                                <select id="retailFormat" class="form-control">
                                    <option value="">Select Retail Business Format</option>
                                    <option value="Garments &amp; Apparels">Garments &amp; Apparels</option>
                                    <option value="Footwear">Footwear</option>
                                    <option value="Boutique">Boutique</option>
                                    <option value="Supermarket">Supermarket</option>
                                    <option value="Grocery Store">Grocery Store</option>
                                    <option value="Gourmet Store">Gourmet Store</option>
                                    <option value="Vegetables Shop">Vegetables Shop</option>
                                    <option value="Roastery">Roastery</option>
                                    <option value="Meat Shop">Meat Shop</option>
                                    <option value="Gifts, Toys &amp; Stationary">Gifts, Toys &amp; Stationary</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="role">Your Role*</label>
                            <div class="custom-dropdown">
                                <select id="role" class="form-control">
                                    <option value="">Select Role</option>
                                    <option value="CXO">CXO</option>
                                    <option value="Founder/Director">Founder/Director</option>
                                    <option value="Manager">Manager</option>
                                    <option value="Consultant">Consultant</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="outlets">No. of Outlets</label>
                            <input type="number" id="outlets" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <a class="btn btn-primary book-demo-btn btn-color" href="#">Submit Inquiry <i
                                    class="fa-solid fa-chevron-right"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>